@import "bootstrap-sprockets";
@import "bootstrap";

* {
  font-family:"Book Antiqua", Palatino, serif;
}

body {
  background-image:  url(asset-path('main-background.jpg'));
}

.flashes {
  z-index: 999999;
}

.no-padding {
  padding: 0!important;
}

.header-row {
  padding-top: 15px;
  & .flashes {
    position: absolute;
    top: 30px;
    left: 65%;
    width: 35%;
  }
  & .title {
    & > * {
      display: inline-block;
    }
    & .header-title {
      margin-left: 10px;
      font-size: 16px;
    }
    & .monterail-image {
    width: 50px;
    & img {
      width: 100%;
      }
    }
  }
  & .sign-in-out{
    & > * {
      float: right;
    }
    & .current-user {
      display: inline-block;
      margin: 0 15px;
      font-size: 20px;
    }
    & a {
    color: white;
    font-size: 16px;
    }
    & a:hover {
    text-decoration: none;
    }
  }
}

.no-auth {
  width: 400px;
  height: 200px;
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% - 200px);
  text-align: center;
}

.menu-container{
  min-height: 400px;
}

.restaurant{
  margin: 0 auto;
  font-size: 16px;
  & span {
    font-size: 20px;
    font-weight: 600;
  }
}

.choose-restaurant{
  & .choose-restaurant-form{
  text-align: center;
  padding: 15px;
    & * {
      padding: 10px;
      margin: 0 10px;
      font-size: 16px;
    }
  }
}

.restaurant-chosen{
  margin: 15px auto;
  font-size: 16px;
  & span {
  font-size: 20px;
  font-weight: 600;
  }
}

.make-order-form{
  margin: 15px;
  line-height: 30px;
  text-align: center;
    & *{
      margin: 0 15px;
    }
    & .order-button-container{
    margin: 15px 0;
    }
}

.todays-order{
  & > div {
  text-align: center;
    & span {
    font-size: 20px;
    font-weight: 600;
    }
  }
}

.order-total{
  margin-top: 20px;
}

.order-list-header span {
  display: inline-block;
  width: 50%;
  padding: 5px 10px;
}

.order-item{
  border: 1px solid black;
  border-radius: 5px;
  & .order-item-name{
    border-right: 1px solid black;
  }
}

.arch-item-table {
  background-image: url(asset-path('paper-background.jpg'));
  background-repeat: repeat;
  box-shadow: 8px 10px 5px 0px rgba(0,0,0,0.75);
  height: 450px;
  overflow-y: auto;
  & .arch-item-table-header{
    padding: 0;
    margin-top: 25px;
    border-bottom: 1px solid black;
  }
  & .selected-archieved-order {
    padding: 0;
    background-color: rgba(25, 162, 224, .7);
    color: white;
  }
}

.arch-item-cost{
  border-right: none!important;
}

.arch-orders {
  & .expanded-archieved-order-item {
    box-shadow: 8px 10px 5px 0px rgba(0,0,0,0.75);
    height: 450px;
    background-image: url(asset-path('paper-background-2.jpg'));
  }
  & .expanded-arch-item {
    margin-top: 25px;
    overflow: hidden;
    & .expanded-items-table-header {
      overflow:hidden;
      border-bottom: 1px solid black;
    }
    & .expanded-arch-item-table {
      overflow-y: auto;
      & .expanded-arch-item-row {
        & > .expanded-item-name {
          border-right: 1px solid black;
        }
      }
    }
  }
  & .expanded-arch-item-table {
    height: 350px;
  }
  & .expanded-total {
    font-size: 20px;
    & .expanded-order-total {
      text-align: right;
      font-weight: 600;
    }
  }
}

.arch-item{
  padding: 0;
  & div {
  display: inline-block;
  border-right: 1px solid black
  }
}
